.footercontainer {
    display: flex;

padding: 2rem;
justify-content: space-between;
width: 100%;
bottom: 0;

    
}

.footercontainer_socialmedia {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

    img {
        width: 50px;
        height: 50px;
        
    }
}

.footercontainer_text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    p {
        margin: 0;
        font-size: 1rem;
        text-align: right;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color: black;
        margin: 3px;
    }
}