@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fbc4b4;
  }

h1,p,h2{
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin: 15px;
  display: flex;
  justify-content: center;
}
.list li {
 
  display: inline-block;
  padding-right: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  
  
}

.list li a{
  text-decoration: none;
  list-style: none;
  transition: all 0.5s ease 0s;
  
  font-size: 25px;
  
}

.list li a:hover {
   
    background-color: #107cdbeb;
    border-radius: 20px;
    margin: 10%;

    
  
}
.active{
  color: gray;
}

.inactive{
  color: white;
}

