.detailproduct {
    max-width: 70%;
  margin: 70px auto;
  display: flexbox;
  border-radius: 10px;
  border: 2px solid white;
  overflow: hidden;
  flex-direction: column;
  
}
.detailtext {
    display: flex;
    align-items: center;
    gap: 20px;
 

}

.imglist{
    filter: grayscale(0%);
}

.imglist:hover{
     
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .9s ease-in-out;
}